@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400,700&display=swap');


/* FONTS */
h1{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 1rem 0;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.75rem 0;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.note {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(99, 99, 99);
}


/* WRAPPERS */
body{
    cursor: url('https://img.icons8.com/?size=30&id=42491&format=png&color=000000'), default;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

.heading{
    margin: 1rem 0;
    min-height: 2rem;
}

.body-wrapper{
    padding: 0 0.5rem 0 0.5rem;

    @media(min-width: 764px){
        padding: 0 10rem 0 10rem;
    } 
}

.instructions{
    border-radius: 1rem;
    padding: 0.5rem;
    border:3px solid #9c0000;

    img{
        width: 1rem;
        height: 1rem;
        /* top | right | bottom | left */
        margin: 0.5rem 0.5rem 0 0;
    }
}


/* CHARTS */
.bubble-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.chart-wrapper{
    padding: 1rem 0 1rem 0;
    overflow: hidden;
    width: 100%;

    .axis-label{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #8d8d8d;
    }

    .y-axis .domain {
        display: none;
    }

    .y-axis line{
        stroke: #ddd;
    }

    .x-axis .domain {
        display: none;
    }

    .chart-img{
        width: 100px;
        height: auto;
        z-index: -10;
        position: relative;
    }
}

.tippy-label {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #333;
}